*.egg-info/
*.py[cod]
.coverage
.DS_Store
.env
.local/
.pytest_cache/
.venv/
.vscode
__pycache__/
build/
htmlcov/
/logs/
package-lock.yml
/scripts/

# dbt-generated and machine-local state
/dbt/.user.yml
/dbt/dbt_packages/
/dbt/logs/
/dbt/profiles.yml
/dbt/target/
